* {
  box-sizing: border-box;
}
.App {
  text-align: center;
}
h6 {
  margin-top: 0vh;
  margin-bottom: 0vh;
}
h3 {
  display: inline;
}
h4 {
  margin-bottom: 0vh;
}
.my-img {
  height: 40vmin;
  border-radius: 100%;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.resume-header {
  background-color: #282c34;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
header {
  margin-top: 0vh;
  margin-left: 15vh;
  margin-right: 0vh;
}
.mr-auto {
  display: flex;
  justify-content: space-evenly;
  /* color: lightgray; */
}
.nav-link {
  padding: 2vh;
  color: lightgrey;
}
.nav-link:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.App-link {
  color: #61dafb;
}
.resume {
  justify-content: center;
}
.web-link-logos {
  list-style-type: none;
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
}
.letter {
  margin-left: 15vh;
  margin-right: 15vh;
}
.resume {
  background: white;
  color: black;
  margin-left: 30vh;
  margin-right: 30vh;
  padding-bottom: 10vh;
  padding-left: 5vh;
  padding-right: 5vh;
}
.efren {
  margin-bottom: 0vh;
}
.developer {
  margin-bottom: 0vh;
}
summary {
  border-bottom: solid;
}
#popover-basic {
  width: 50vh;
  background-color: powderblue;
  inset: -2rem auto auto 19rem !important;
  border-radius: 15px;
}
.popover-header {
  justify-items: center;
  margin-top: 0vh;
  background-color: grey;
  border-radius: 15px;
}
