.App {
  text-align: center;
}
h6 {
  margin-top: 0vh;
  margin-bottom: 0vh;
}
h3 {
  display: inline;
}
h4 {
  margin-bottom: 0vh;
}
.my-img {
  border-radius: 100%;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  align-items: center;
  justify-content: center;
  color: white;
}
.resume-header {
  background-color: #282c34;
}

.App-link {
  color: #61dafb;
}

.web-link-logos {
  list-style-type: none;
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
}

.resume {
  background: white;
  color: black;
}

summary {
  border-bottom: solid;
}
#popover-basic {
  width: 50vh;
  background-color: powderblue;
  inset: -2rem auto auto 19rem !important;
  border-radius: 15px;
}
.popover-header {
  justify-items: center;
  margin-top: 0vh;
  background-color: grey;
  border-radius: 15px;
}
